<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="СтрокаПодключения"
             connectionString="Server=ИМЯ_ВАШЕГО_СЕРВЕРА;Database=УниверсальноеПриложение;Integrated Security=true;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="SmtpHost" value="smtp.gmail.com" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpUsername" value="olesyachernovawwork@gmail.com" />
        <add key="SmtpPassword" value="your_app_password" />
        <add key="SmtpEnableSsl" value="true" />
        <add key="SmtpFromEmail" value="olesyachernovawwork@gmail.com" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
